@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Great+Vibes&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-1: "Michroma",
        serif;
    --subfont: "Montserrat",
        serif;
    --subfont2: "Poppins",
        serif;
    --bg-biru: rgb(51, 92, 255);
}


html,
* {
    color: #fff;
    scroll-behavior: smooth;
    text-decoration: none;
    padding: 0;
    margin: 0;

}

body {
    background-color: #010417;
}

.navbar {
    width: 100%;
    position: fixed;
    padding: 20px 7%;
    z-index: 99;

}

.navbar.scrolled {
    background: #060b4259;
    backdrop-filter: blur(5px);

}

#navbarNav .nav-link {
    font-family: var(--subfont);
    font-weight: 600;
    margin-left: 20px;
    color: #fff;
}

#navbarNav .nav-link:hover {
    color: var(--bg-biru);
    transition: ease .5s;
}

.banner {
    height: 100vh;
    background: url(../asset/5084515\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10%;
    /* filter: grayscale(); */
}

.content {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 80px;
}

.wrapper h1 {

    font-family: var(--font-1);
    font-size: 40px;
}

.wrapper p {
    font-family: var(--subfont);
}

.banner .content .col .cta-bottom-right {
    transition: .3s ease;
    border: none;
    border-radius: 34px;
    padding: 10px 40px;
    background: transparent;
    border: 2px solid #106DA8;
    transition: ease .3s;
}

.banner .content .col .cta-bottom-right:hover {

    border: 2px solid #0189de;
}

.cta-bottom {
    transition: .3s ease;
    border: none;
    border-radius: 34px;
    padding: 10px 40px;
    transition: ease .3s;
    background: linear-gradient(0deg, #180642 32%, #106DA8);
}

.cta-bottom:hover {
    background: linear-gradient(0deg, #180642cd 32%, #106ea8ed);
    box-shadow: 1px 2px 15px -2px #000000ae;

}

.cta-bottom a,
.cta-bottom-right a {
    text-decoration: none;
    color: #fff;
    font-family: var(--font-1);
    font-size: 12px;
}

/* about */


.about-header {
    /* color: rgb(51, 92, 255); */
    margin-bottom: 30px;
    font-family: var(--font-1);
}

.layout {
    background: var(--bg-biru);
    padding: 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.layout .hero {
    background-image: url('../asset/mockupADRIANTECH.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;

}

.layout .hero2 {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    position: relative;

}

.layout .hero2:before {
    content: '';
    background: var(--bg-biru);
    position: absolute;
    left: -20%;
    top: 0;
    transform: rotate(15deg);
    width: 200px;
    height: 700px;
}

.layout .hero2 h3 {

    position: relative;
}

.layout .hero2 p {
    color: #000;
    position: relative;
    font-family: var(--subfont);
    max-width: 400px;
}

.keunggulan {
    overflow: hidden;
    padding: 50px 0;
    background: #00050f;
    /* background: var(--bg-biru); */
    box-shadow: 1px 4px 10px #106ea868;
}

.keunggulan .container .row {
    display: flex;
    justify-content: center;
}

.keunggulan .container .row .col {
    margin: auto;
    justify-content: center;
}

.keunggulan .container .row .col p {
    font-size: 13px;
    font-family: var(--subfont);
    font-weight: 300;
    max-width: 300px;
}


.layanan {
    overflow: hidden;
    padding-top: 7%;
    /* height: 100vh; */
    /* background: rgb(201, 86, 86); */
}

.text-header h2 {
    font-family: var(--font-1);
}

.text-header p {
    font-family: var(--subfont);
}

.layanan .row {
    flex-wrap: wrap;
    padding-top: 30px;
}

/* .row .card{
    background: #e4e4e443;
    margin: auto;
    margin-top: 100px;
    padding-top: 130px;
    border-radius: 15px;
} */
.layanan .row .card {
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 15%, 9%);
    --paragraph: hsl(0, 0%, 83%);
    --line: hsl(240, 9%, 17%);
    --primary: hsl(249, 92%, 58%);

    height: 25rem;
    margin: auto;
    margin-top: 50px;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* padding: 1rem; */
    width: 19rem;
    background-color: rgba(20, 20, 26, 0.197);
    background-image: radial-gradient(at 88% 40%,
            hsla(240, 15%, 9%, 1) 0px,
            transparent 85%),
        radial-gradient(at 49% 30%, rgba(20, 20, 26, 0.973) 0px, transparent 85%),
        radial-gradient(at 14% 26%, rgba(20, 20, 26, 0.907) 0px, transparent 85%),
        radial-gradient(at 0% 64%, rgb(38, 132, 247) 0px, transparent 85%),
        radial-gradient(at 41% 94%, rgb(14, 175, 220) 0px, transparent 85%),
        radial-gradient(at 100% 99%, rgb(69, 36, 255) 0px, transparent 85%);

    border-radius: 14px;
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
    transition: .5s ease;
}

.layanan .row .card:hover {

    transform: scale(1.03);
    background-image: radial-gradient(at 88% 40%,
            hsla(240, 15%, 9%, 1) 0px,
            transparent 85%),
        radial-gradient(at 49% 30%, rgba(20, 20, 26, 0.973) 0px, transparent 85%),
        radial-gradient(at 14% 26%, rgba(20, 20, 26, 0.907) 0px, transparent 85%),
        radial-gradient(at 0% 64%, rgb(45, 140, 255) 0px, transparent 100%),
        radial-gradient(at 41% 94%, rgb(65, 198, 235) 0px, transparent 100%),
        radial-gradient(at 100% 99%, rgb(54, 18, 255) 0px, transparent 100%);
}

.card-body h5 {
    color: #fff;
    font-family: var(--font-1);
}

.card-body p {
    color: #fff;
    font-family: var(--subfont);
    font-weight: 300;
    font-size: 12px;
}


.layanan .row .card .img-top {

    width: 150px;
}

.card .btn {
    background: transparent;
    border: 1px solid #030e5b;
    color: #fff;
    transform: .5s ease;
}

.card .btn:hover {
    background: #083be280;
    border: none;
}

.col-bottom {
    padding: 50px 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-bottom .service-link {
    text-decoration: none;
    color: #106DA8;
}

.portofolio {
    padding-top: 10%;
    padding-bottom: 50px;
    background: rgb(51, 92, 255);

    position: relative;
}

.portofolio::after {
    content: '';
    position: absolute;
    background: url(../asset/wave-haikei.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 25px 10px #1d29ca);
}

.portofolio .container {
    padding: 2rem;
}

.portofolio .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 13px;
    margin: 3rem auto;
}

/* From Uiverse.io by gharsh11032000 */
.portofolio .row .card {
    background: #06042962;
    padding: 10px;
    border-radius: 8px;
    color: white;
    overflow: hidden;

    box-shadow: 1px 3px 10px #26262639;
    transition: all 0.5s;
    cursor: pointer;
}

.portofolio .row .card:hover {
    box-shadow: 1px 3px 15px #26262677;
}

.portofolio .row .gambar {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    border-image: fill 0 linear-gradient(#0001, #000);
}

.portofolio .row .gambar img {
    border-image: fill 0 linear-gradient(#0001, #000);
}

.portofolio .card .card-content {
    padding: 10px;
    /* position: relative; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.portofolio .card .card-content .card-title {
    font-size: 20px;
    font-weight: 700;

}

.portofolio .card .card-content .card-para {

    opacity: 0.8;
    font-size: 14px;
}

.portofolio .btn-project {
    background: #1146b0;
    border: none;
    border-radius: 8px;
    padding: 20px;
    align-self: center;
    transition: .3s ease;
}

.portofolio .btn-project:hover {
    /* background: #194fbc; */
    box-shadow: 1px 3px 7px #0000003e;
}

.portofolio .btn-project a {
    text-decoration: none;
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Efek gelap transparan */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Default: tidak terlihat */
    transition: opacity 0.5s ease;
    /* Efek transisi halus */
}

.overlay-text {
    color: #fff;
    background-color: #28a745;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.overlay-text:hover {
    background-color: #218838;
}

/* Efek Hover */
.gambar.proyek:hover .overlay {
    opacity: 1;
    /* Muncul saat hover */
}


.contact {
    background-image: radial-gradient(at 88% 40%,
            hsla(240, 15%, 9%, 1) 0px,
            transparent 85%),
        radial-gradient(at 49% 30%, rgba(20, 20, 26, 0.973) 0px, transparent 85%),
        radial-gradient(at 14% 26%, rgba(20, 20, 26, 0.907) 0px, transparent 85%),
        /* radial-gradient(at 0% 64%, rgb(38, 132, 247) 0px, transparent 85%), */
        /* radial-gradient(at 41% 94%, rgb(14, 175, 220) 0px, transparent 85%), */
        radial-gradient(at 100% 99%, rgb(36, 80, 255) 0px, transparent 85%);
    padding: 7% 0;
    border-bottom: 1px solid #444;
}

.contact .container h2 {
    font-family: var(--font-1);
    font-size: 2rem;
    margin-bottom: 3rem;
}

.contact .container .col {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 5rem;
}

.contact .container .col form {
    width: 500px;
}

.cta-call {
    gap: 5px;
    /* padding: 50px 0; */
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.cta-call h3 {
    font-family: var(--font-1);

}

.cta-call ul li {
    list-style-type: none;
    line-height: 2.5;
    font-family: var(--subfont);
    font-weight: 300;
}

.cta-call a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 30px;

}

.cta-call a i:hover {
    color: var(--bg-biru);
}

form input,
textarea {
    color: white;
    border: 2px solid var(--bg-biru);
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;

}

form input:active {
    box-shadow: 2px 2px 15px #0755ff inset;
}

footer {
    background: #101219;
    padding: 1rem 0;
    padding-top: 3rem;
}

footer .container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444;
    margin-bottom: 2rem;
}

footer section {
    margin-bottom: 50px;
}

footer section .col p {
    text-decoration: none;
    font-family: var(--subfont);
    color: #c0c0c0;
}

footer section .col h3 {
    font-family: var(--subfont);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1rem;
}

footer section .col .side a {
    font-size: 2rem;
}

footer section .col li {
    list-style-type: none;
    margin-bottom: 5px;
}

footer section .col li a {
    text-decoration: none;
    font-family: var(--subfont);
    color: #c0c0c0;
}

.sub-content {
    background: rgb(51, 92, 255);
    margin-bottom: 50px;
    margin-top: 3px;
    border-bottom: 2px solid var(--bg-biru);
}


.sub-content p,
.sub-content i {
    color: #000;
}

.sub-content p {
    width: 60%;
    color: #000;
    margin: 0;
    font-family: var(--subfont);
}

.about .layanan {
    border-top: 1px solid #444;
    padding: 50px 0;
}

.about .contact {
    padding: 50px 0;
    background: var(--black);

}

.about .contact .container {
    display: flex;
    flex-direction: column;
}


/* responvsive */

@media (max-width: 480px) {
    html{
        overflow-x: hidden;
    }

    .navbar {
        width: 100%;
        position: fixed;
        padding: 10px 0;
        z-index: 99;
        margin: 0;
    }

    .navbar-toggler span {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

    }

    .navbar .logo {
        width: 200px;
    }

    .banner {
        height: 100vh;
        background: url(../asset/5084515\ 1.png);
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
        /* filter: grayscale(); */
    }

    .wrapper {
        width: 100%;

        text-align: center;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .wrapper h1 {

        font-family: var(--font-1);
        font-size: 40px;
    }

    .wrapper p {
        opacity: 0.4;
        font-family: var(--subfont);
        font-size: 16px;
    }

    .banner .content .col {
        display: flex;
        flex-direction: column;
    }

    /* about */
    .layout {
        background: var(--bg-biru);
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;

        overflow: hidden;
    }

    .layout .hero2:before {
        content: '';
        display: none;
        background: var(--black);
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(15deg);
        width: 200px;
        height: 700px;
    }

    .layout .hero {
        background-image: url('../asset/mockupADRIANTECH.png');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 300px;

    }

    .layout .hero2 {
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        position: relative;

    }

    /* keunggulan */
    .keunggulan .container .row {
        display: flex;
        gap: 20px;
        align-items: center;
        flex-direction: column;
    }



    .keunggulan .container .row .col:nth-child(1),
    .keunggulan .container .row .col:nth-child(3) {
        justify-content: flex-start;
        align-items: center;
    }

    .keunggulan .container .row .col:nth-child(2) {
        justify-content: flex-end;
        flex-direction: row-reverse;
        align-items: center;
        text-align: end;
    }

    .keunggulan .container .row .col p {
        font-size: 8px;
        font-family: var(--subfont);
        font-weight: 300;
        max-width: 300px;
    }

    /* layanan */
    .layanan {
        overflow: hidden;
        padding-top: 20%;
        /* height: 100vh; */
        /* background: rgb(201, 86, 86); */
    }

    .layanan .row {
        flex-wrap: wrap;
        padding-top: 0px;
    }

    .text-header p {
        font-family: var(--subfont);
        font-size: 14px;
        font-weight: 200;
    }

    .col-bottom .service-link {
        text-decoration: none;
        color: #106DA8;
        display: none;
    }

    .layanan .row .card {
        height: auto;
    }

    /* portofolio */
    .portofolio {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10%;
        padding-bottom: 50px;
        background: rgb(51, 92, 255);

        position: relative;
    }

    .portofolio .container {
        padding: 2rem 1rem;
    }

    .portofolio::after {
        content: '';
        position: absolute;
        background: url(../asset/wave-haikei.svg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        top: -10px;
        left: 0;
        filter: drop-shadow(0px 20px 10px #1d29ca);
    }

    .portofolio .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 13px;
        margin: 3rem auto;
    }

    /* contact */
        .contact .container h2{
            padding: 0 1rem;
        }
        .contact .container h2{
            font-size: 20px;

        }
   .contact .container .col{
    flex-direction: column-reverse;
   }

   .contact .container .col form {
       width: 100%;
   }

    
}